{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{% static 'css/piggy.css' %}">




    <title>Piggy Back Ride {% block title %}{% endblock %}</title>
</head>
<body>

    {% if user.is_authenticated %}
    <div class="navbar-menu navbar-end">
        <span class="navbar-item">Welcome: {{user.username}}</span>
        <a class="navbar-item" href="/artists"></a>
        <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
    </div>
{% else %}
    <div class="navbar-menu navbar-end">
       <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        <!--   here is our new link      -->
       <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
    </div>
{% endif %}
    <h1> Piggy Back Ride </h1>
    <nav>
        <a href="/rooms">Rooms</a>
        <a href="/scholars">Scholars</a>
        <a href="/parents">Parents</a>
        <a href="/rooms/new"> New Room</a>
        <a href="/scholars/new">New Scholar</a>
        <a href="/parents/new">New Parents</a>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>