{% extends 'piggy/base.html' %} 
{% block title %}- Parent {% endblock%}
{% block content %} 
    <h2>Parent/ Guardians </h2>
    <ul>
        {% for parent in parents %}
           <a href="{% url 'parent_detail' pk=parent.pk%}" ><h2>{{parent.first_name}}</h2></a>
            <h2>{{parent.last_name}}</h2>
            <h2>{{parent.relation_To_Scholar}}</h2>
            <h2>{{parent.scholar}}</h2>
            <h2>{{parent.phone_number}}</h2>
            
            
            <hr />
        {% endfor %}
    </ul>
{% endblock %}