{% extends 'piggy/base.html' %} 
{% block title %}- Room {% endblock%}
{% block content %} 
    <h2 class="title">Room Listings</h2>
    <ul class ="test-flex">
        
        {% for room in rooms %} 
            <li>
                <a href="{%url 'room_detail' pk=room.pk %}"><h2>{{room.room_number}}</h2></a>
            <h3>{{room.teacher_Name}}</h3>
            <!-- <p>{{room.scholar_Name}}</p> -->
            <img src="{{room.photo_url}}" alt="room.teacher_name"/>
            </li>
          
           
        {% endfor %}
    </ul>
{% endblock %}