{% extends 'piggy/base.html' %}
{% block title %}{{room.room_number}} {% endblock %}
{% block content %} 

<h2>{{room.room_number}}</h2> <a href="{% url 'room_update' pk=room.pk %}">Edit room number</a>
<a href="{% url 'room_delete' pk=room.pk %}">Delete Room </a>
<h4>{{room.teacher_Name}}</h4>
<h4>{{room.scholar_Name}}</h4>

<img src="{{room.photo_url}}" alt="room.teacher_name" class="room-photo" />

<h4>Scholars <a href=''>(+)</a></h4>
<ul>
    {% for Scholars in room.scholars.all %}
        <li>
            <a href="{%url 'scholar_detail' pk=scholar.pk %}">{{scholar.scholar_name}}-{{scholar.scholar_name}}-{{scholar.parent_Name}}-{{scholar.date_Of_Birth}}-{{scholar.teacher_Name}}-{{scholar.grade_Level}}-{{scholar.room_Number}}-{{scholar.pickup_Method}}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}