{% extends 'piggy/base.html' %}
{% block title %}{{scholar.scholar_name}} {% endblock %}
{% block content %} 
<h2>{{scholar.scholar_name}}</h2> 
<label>{{scholar.parent_Name}}</label>
<label>{{scholar.date_Of_Birth}}</label>
<label>{{scholar.teacher_Name}}</label>
<label>{{scholar.grade_Level}}</label>
<label>{{scholar.room_Number}}</label>
<label>{{scholar.pickup_Method}}</label>

<a href="{% url 'scholar_update' pk=scholar.pk %}">Edit Scholar</a>
<a href="{% url 'scholar_delete' pk=scholar.pk %}">Delete Scholar</a>

<img src="{{scholar.photo_url}}" class="img"/>

<h4> Parents <a href=''>(+)</a></h4>
<ul>
    {% for Parents in scholar.parents.all %}
        <li>
            <a href="">{{parent.first_name}}-{{parent.last_name}}-{{parent.relation_To_Scholar}}-{{parent.scholar}}-{{parent.phone_number}}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}