{% extends 'piggy/base.html' %}
{% block title %}{{scholar.scholar_name}} {% endblock %}
{% block content %} 
<h2>{{scholar.scholar_name}}</h2> <a href="{% url 'scholar_update' pk=scholar.pk %}">Edit Scholar</a>
<a href="{% url 'scholar_delete' pk=scholar.pk %}">Delete Scholar</a>
<h4>{{scholar.parent_Name}}</h4>
<h4>{{scholar.date_Of_Birth}}</h4>
<h2>{{scholar.teacher_Name}}</h2>
<h2>{{scholar.grade_Level}}</h2>
<h2>{{scholar.room_Number}}</h2>
<h2>{{scholar.pickup_Method}}</h2>
<h2>{{scholar.Monday}}</h2>
<h2>{{scholar.Tuesday}}</h2>
<h2>{{scholar.Wednesday}}</h2>
<h2>{{scholar.Thursday}}</h2>
<h2>{{scholar.Friday}}</h2>

<img src="{{scholar.photo_url}}" class="child-photo"/>

<h4> Parents <a href=''>(+)</a></h4>
<ul>
    {% for Parents in scholar.parents.all %}
        <li>
            <a href="">{{parent.first_name}}-{{parent.last_name}}-{{parent.relation_To_Scholar}}-{{parent.scholar}}-{{parent.phone_number}}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}