/* tunr/static/css/tunr.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
    flex: 2cm;
    background-color: #b8c5ff;
  }

  @media screen and (max-width:900px) {

    body {
      background-color:rgba(249, 188, 127, 0.8);
    }
    h1{
      letter-spacing: 1px;
      
    }

  }

  @media screen and (max-width:800px) {
    body{
      background-color: #9de4ff;
    }
    
  }

 
  nav a {
    border: 1px dashed whitesmoke;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #a669d0;
    font-family: 'Helvetica Neue', sans-serif;
    
  }
  
  nav a:hover {
    background-color: white;
    color:  #f415ed;
    border: #a669d0;
  }
  
  a,
  a:visited {
    font-family: 'Helvetica Neue', sans-serif;
    color: #86fafb;
    padding: 1px;
    border: #f415ed;
    border-radius: 50px;
    border-width: 5px;
    text-align: center;
  }
  
  a:hover {
    background-color: whitesmoke;
  }
  
  ul {
    list-style-type: none;
    size-adjust: 10px;
  }
  
  li {
    margin: 15px;
  }
  
  h1 {
    font-family: 'Helvetica Neue', sans-serif;
    color: fuchsia ;
    letter-spacing: 5px;
    text-decoration: none;
    border-bottom: 5px solid whitesmoke;
    text-align: left;
  }
  
  h2 > a {
    font-size: 10px;
    
   
  }
  h3 {
    font-family: 'Helvetica Neue', sans-serif;
    color: navy;


  }
  
  input {
    display: block;
    margin: 0px 0 0px 0;
    padding: 10px;
    border: solid 3px #fdbb2d;
    width: 300px;
    height: .15px;
    background: whitesmoke;
  }
  
  input[type='submit'],
  a.delete {
    width: auto;
    padding: 9px 15px;
    background-color: grey;
    height: 30px;
    border: 0;
    font-size: 14px;
    color: #ffffff;
  }
  
  a.delete {
    background-color: red;
  }
  
  .artist-photo {
    width: 100px;
  }
  
  span.nationality {
    font-size: 0.5em;
  }
  
  .user-info {
    float: center;
  }
  
  a.fav {
    text-decoration: none;
    color: blue;
  }
  
  a.no-fav {
    text-decoration: none;
    color: red;
  }
  
  .fav:visited,
  .no-fav:visited {
    text-decoration: none;
  }

  .navbar-item{
    text-align: right;
    font-size: 20px;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }

  .test-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  label{
    font-family: 'Helvetica Neue', sans-serif;
    display: block;
    flex-direction: column;
    color: navy;
    padding: 20px
  

  }

  .scholar-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .room-form{
    display: flex;
    flex-direction: row;
    text-align: wrap;
  }

  .img{
    max-width: 10px;
  }

  